body{
    margin: 0;
    background-color: rgb(226, 223, 223);
}

#Titulo{ /*Fondo y Margen*/
    background-color: rgba(179, 66, 66, 0.5);
    opacity: 10;
    margin: 15px 100px 15px 100px;
    padding: 15px;
}

#Titulo{ /*Borde*/
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    outline: 5px solid black;
}

#Titulo{ /*Estructura del texto*/
    text-align: center;
}

.espacio{
    clear: both;
}

.barra{ /*Barra de navegación*/
    display: flex;
    list-style: none;
    background-color: rgb(73, 245, 236);
    opacity: 1;
}

.b1{
    padding: 15px;
}

.barra2{
    list-style: none;
    flex-direction: ;
}

.b2{
}

.barra3{
    list-style: none;
}

.barra4{
    list-style: none;
}

.barra5{
    list-style: none;
}